/* .logo{
    background-image: url("../../assets/data_axle.PNG");
 
}
.bgImage{
    background-image: url("../../assets/body_bg.png"); 
    background-repeat: no-repeat;
  background-size: auto;
} */